.vscode
.DS_Store
notes_links.txt
eda_fe_summary
deep_learning_udacity
computer_vision_udacity
data/Satellite_Image_Classification_Kaggle
data_science_udacity
python_manual.txt
__pycache__
.ipynb_checkpoints
space_image_classification/best_model.pt
slides
data/Paris_Urban_Atlas
data/Donostia_Urban_Atlas